<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Grade Calculator" Language="1033" Version="1.0.0.0" Manufacturer="Thivyasree" UpgradeCode="bb28f102-10cf-4463-b757-fcfa4a422282">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Grade Calculator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Grade Calculator" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="GradeCalculatorExe" Guid="*">
				<File Id="GradeCalculatorExeFile"
					  Source="$(var.GradeCalculator.TargetDir)GradeCalculator.exe"
					  KeyPath="yes" />
			</Component>

			<Component Id="GradeCalculatorLibraryDll" Guid="*">
				<File Id="GradeCalculatorLibraryDllFile"
					  Source="$(var.GradeCalculator.TargetDir)GradeCalculatorLibrary.dll"
					  KeyPath="yes" />
			</Component>

			<Component Id="StudentValidationLibraryDll" Guid="*">
				<File Id="StudentValidationLibraryDllFile"
					  Source="$(var.GradeCalculator.TargetDir)StudentValidationLibrary.dll"
					  KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>
</Wix>
